:root {
    --accent-color: #aeb1b5 !important;
    /* #'s before H1-3 */
    --background-color: white !important;
    --border-color: #ddd !important;
    --code-bg-color: #f8f8f8 !important;
    --font-color: #42464c !important;
    --header-color: #222324 !important;
    --link-color: #2077b2 !important;
    --control-text-color: #667176 !important;
    --side-bar-bg-color: #fafafa !important;
    --body-font: iAWriterMonoS-Regular, monospace, Roboto !important;
    --border-radius: 2px !important;
    --document-horizontal-margin: 80px !important;
    --document-padding-x: 10ch !important;
    --font-size: 20px !important;
    --h1-fontsize: 20px !important;
    /* 1,5   rem = 24px */
    --h2-fontsize: 20px !important;
    /* 1,375 rem = 22px */
    --h3-fontsize: 20px !important;
    /* 1,25  rem = 20px */
    --h4-fontsize: 20px !important;
    /* 1,125 rem = 18px */
    --line-height: 1.6 !important;
    --main-content-margin: 0 auto !important;
    --main-content-max-width: 100ch !important;
    --monospace-font-size: 20px !important;
    --monospace-font: iAWriterMonoS-Regular, monospace !important;
    --monospace-line-height: 1.6 !important;
    --monospace: var(--monospace-font) !important;
    /* Fixes source code mode */
    --nav-width: 200px !important;
    --vertical-padding: 40px !important;
}


/* Narrow layout styles */

@media (max-width: 640px) {
     :root {
        --document-padding-x: 4ch !important;
    }
}

html {
    font-size: var(--font-size) !important;
    background-color: var(--background-color) !important;
}

html,
body {
    color: var(--font-color) !important;
    font-family: var(--body-font) !important;
    line-height: var(--line-height) !important;
}

.markdown-body {
    /* size of writing area: */
    padding-left: var(--document-padding-x) !important;
    padding-right: var(--document-padding-x) !important;
    max-width: var(--main-content-max-width) !important;
    box-sizing: border-box !important;
}


/**
 * ---------------------
 * Block Elements
 */


/* yaml */

pre.md-meta-block {
    background-color: var(--background-color) !important;
    padding-bottom: .5rem !important;
    color: var(--accent-color) !important;
    border-bottom: 2px solid var(--border-color) !important;
    font-family: var(--monospace-font) !important;
}


/* headings */

h1,
h2,
h3 {
    font-weight: bold !important;
    color: var(--header-color) !important;
}

h1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: var(--h1-fontsize) !important;
}

h1:not(:first-child) {
    margin-top: 1rem !important;
}

h2 {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
    font-size: var(--h2-fontsize) !important;
}

h3 {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
    font-size: var(--h3-fontsize) !important;
}

h4,
h5,
h6 {
    color: var(--header-color) !important;
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
    font-size: 1rem !important;
}

h4 {
    font-size: var(--h4-fontsize) !important;
}

h6 {
    color: var(--control-text-color) !important;
}

h1::before,
h2::before,
h3::before {
    font-weight: 400 !important;
    text-align: right !important;
    width: 5ch !important;
    padding-right: 1ch !important;
    margin-left: -5ch !important;
    color: var(--accent-color) !important;
    display: inline-block !important;
}

h1::before {
    content: '#' !important;
}

h2::before {
    content: '##' !important;
}

h3::before {
    content: '###' !important;
}

h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}


/* table */

table {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

table tr:nth-child(2n),
thead {
    background-color: var(--side-bar-bg-color) !important;
}

td,
th {
    border-style: solid !important;
    border-color: var(--border-color) !important;
    border-width: 1px !important;
    padding: .35rem .7rem
}

li p {
    margin: 0 !important;
}

.task-list {
    padding-left: 0 !important;
}

.task-list-item {
    padding-left: 1.5em !important;
    margin-bottom: 0rem !important;
}

.markdown-body input[type='checkbox'] {
    margin-top: 5px !important;
}

blockquote {
    margin: 1rem 0 !important;
    padding-left: 2ch !important;
    margin-left: .5ch !important;
    position: relative !important;
    overflow: hidden !important;
    border-left: 2px solid var(--border-color) !important;
    color: var(--accent-color) !important;
}


/* horizontal line */

hr {
    border: none !important;
    border-bottom: 2px solid var(--border-color) !important;
    margin-top: 1.4rem !important;
    margin-bottom: 1.4rem !important;
}

p {
    margin: 1rem 0 !important;
}


/**
 * Code Fences
 * see http:/*support.typora.io/Code-Block-Styles
 */

.cm-s-inner .CodeMirror-gutters {
    background: var(--code-bg-color) !important;
}

.code-tooltip {
    box-shadow: none !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--code-bg-color) !important;
    border-color: var(--border-color) !important;
    border-style: solid !important;
    border-width: 1px !important;
}

.code-tooltip input {
    outline: none !important;
    width: 20ch !important;
}

.md-fences .code-tooltip {
    bottom: -1.8rem !important;
    padding: none !important;
}

.md-fences.md-focus .cm-s-inner {
    /* Remove bottom right border radius when tooltip is shown */
    border-bottom-right-radius: 0 !important;
}


/* code tooltip autocomplete list */

.autoComplt-hint {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0.125rem 0.375rem !important;
    color: var(--text-color) !important;
    line-height: var(--line-height) !important;
    height: 1.4rem !important;
}

.autoComplt-hint-selected {
    background-color: var(--link-color) !important;
    color: var(--background-color) !important;
}


/* basic styles */

.md-fences,
code,
tt {
    border: 1px solid var(--border-color) !important;
    background-color: var(--code-bg-color) !important;
    font-family: var(--monospace-font) !important;
    font-size: var(--monospace-font-size) !important;
    border-radius: .25rem !important;
    padding: 0 .125rem !important;
    line-height: var(--monospace-line-height) !important;
}

.md-fences {
    margin-bottom: 18px !important;
    margin-top: 15px !important;
    padding: 0.2em 1em !important;
    padding-top: 8px !important;
    padding-bottom: 6px !important;
}

a {
    color: var(--link-color) !important;
}


/**
 * Control UI (optional)
 */

.outline-item:hover {
    color: var(--header-color) !important;
}

.markdown-body div.md-toc-tooltip {
    background-color: var(--background-color) !important;
}